@import "../../global.scss";

.sobre{
    background-color: $paleta4;
    display: flex;


    .esquerda{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include mobile{
            flex:  1;
        }

        .sobrepedro{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p{
                text-shadow: $paleta5 0.1em 0.1em 0.2em;
                font-size: 15px;
                color: $paleta1;
                overflow: hidden;
                width: 25em;
                padding: 10px;
                text-align: left;

                @include mobile{
                    font-size: 15px;
                }
                
                span{
                    color: $paleta1;

                }

                .ityped-cursor{
                    animation: piscar 1s infinite;
                }

                @keyframes piscar {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                    
                }
            }
            .seta{
                margin: 20px;
                color: $paleta1;
                animation: pisca-seta 2s infinite;
            }
            @keyframes pisca-seta {
                100% {
                    opacity: 0;
                }
            }
            .download{
                color: $paleta5;
                font-size: 10px;
                background-color: $paleta1;
                border-radius: 20px;
                padding: 5px;
                text-decoration: none;
            }
            .download:hover{
                background-color: $paleta2;
                color: $paleta1;
            }
        }
    }
    .direita{
        flex: 0.5;
        overflow-y: hidden;

        @include mobile{
            flex:  0;
        }
        
        .zeroum{
            cursor: default;
            overflow-y: hidden;
            width: 200%;
            height: 200%;
            font-size: 15px;
            color: $paleta1;
            opacity: 10%;

        }
    }
}