@import "../../global.scss";

.habilidades{
    background-color: $paleta4;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        overflow: hidden;
        color: $paleta1;
        padding: 40px;
        font-size: 25px;
    }

    .conteiner{
        overflow: hidden;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile{
            width: 100%;
        }

        .itens{
            width: 120px;
            height: 120px;
            border-radius: 10%;
            margin: 0px 50px;
            display: flex;
            overflow-y: hidden;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: ease 5s ease;
            cursor: pointer;

            @include mobile{
                width: 115px;
                height: 115px;
                margin: 15px 55px;
            }

            h3{
                position: absolute;
                font-size: 20px;
                color: $paleta1;

            }
            img{
                display: flex;
                justify-content: center;
                border-radius: 10px;
                border: 1px solid $paleta1;
                width: 200px;
                height: 150px;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                width: 115px;
                height: 115px;
                background-color: $paleta5;
                border-radius: 10%;

                @include mobile{
                    width: 150px;
                    height: 150px;
                }
                
                img{
                    opacity: 10%;
                    z-index: 0;

                }
            }
        }
    }
    .seta{
        overflow: hidden;
        color: $paleta1;
        padding: 10px;
        animation: pisca-seta 2s infinite;
    }
    @keyframes pisca-seta {
        100% {
            opacity: 0;
        }    
    }
}