@import "../../global.scss";

.listaportfolio{
    display: flex;
    color: $paleta1;
    padding: 5px 10px;
    margin: 5px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;

    @include mobile(md) {
        font-size: 0.8em;
    }
    
    &.ativo{
        background-color: $paleta1;
        color: $paleta5;
        text-decoration: underline;
        
    }
}
